body {
    margin: 0;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #01012b;
}

h1 {
    text-align: left;
    background: #01012b;
    color: #fff;
    margin-left: 10rem;
}

code {
   font-family: Arial, Helvetica, sans-serif;                  
}

.app {
    background: #01012b;
    padding: 30px;
    height: 100vh;  
}   

.todo-list {
    background: #d1f7ff;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
}

.todo {
    background: #fff;
    box-shadow: 1px 1px 1px #05d9e8;
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    }

    .input{
        width: 100%;
        box-sizing: border-box;
        border: 0;
        border-radius: 4px;
        box-shadow: none;
        padding: 1rem;
        height: 2.24em;
        font-size: 24px;
    }